Repository wp-cli/db-command, pull requests merged in 2019-11, with the labels that each got.

#152 Make wp db clean get all the tables with prefix
  src/DB_Command.php
Labels: bug, command:db-clean

#151 Fix output message for STDIN input
  features/db-import.feature
  src/DB_Command.php
Labels: command:db-import

#154 Add preliminary PHP 7.4 testing
  .travis.yml
  src/DB_Command.php
Labels: scope:distribution
