Repository wp-cli/db-command, pull requests merged in 2021-07, with the labels that each got.

#201 To be succeeded behat test export database to STDOUT even if uses mariadb
  features/db-export.feature
Labels: scope:testing

#163 Add decimal numbers to `wp db size`
  features/db-size.feature
  src/DB_Command.php
Labels: command:db-size

#199 Set `'utf8mb4'` when exporting without `'--default-character-set'` option
  composer.json
  features/db-import.feature
  features/db-search.feature
  src/DB_Command.php
Labels: bug

#205 Refactor `--defaults` flag handling
  src/DB_Command.php
Labels: command:db-clean, command:db-create, command:db-drop, command:db-reset
